/* STYLE BODY */
body {
  background-color: #333A40;
  padding-right: 30px;
  padding-left: 30px;
}
/* TEXT STYLING */
.heading-text {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #3A4BFB;
}
.subheading-text {
  font-family: 'Poppins', sans-serif;
  color: #A3EEA9;
}
.paragraph-text {
  font-family: 'Montserrat', sans-serif;
  color: #333A40;
}

/* RESOURCE CARDS */
.container {
  text-align: center;
}

.card-buttons {
  background-color: #3A4BFB;
}
.tag-buttons {
  font-size: 10px;
  margin-bottom: 4px;
}

.tag-buttons-topic {
  border: .5px solid red;
}
.tag-buttons-experience {
  border: .5px solid gray;
}
.tag-buttons-mode {
  border: .5px solid yellow;
}
.card {
  background-color: #A3EEA9;
}
