/* GENERAL STYLE */
body {
  background-color: white;
}
/* text style guide */
.headline-text {
  font-family: 'IBM Plex Sans', sans-serif;
}
.subheadline-text {
  font-family: 'Poppins', sans-serif;
}
.paragraph-text {
  font-family: 'Montserrat', sans-serif;
}
/* footer */
#footer-box {
  border: 2px solid #3F3B3C;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
/* HOMEPAGE */
/* homepage header */
#home-header-box {
  border: 2px solid #3F3B3C;
  padding: 10px;
  margin-top: 10px;
}

/* navigation bar */
#navigation-bar-box {
  border: .5px dotted #3F3B3C;
}
a {
  text-decoration:none;
  color: #3F3B3C;
}
a:hover {
  color:#91E270;
}
a:active {
  color: ;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}
#navBreak {
  padding-right: 810px;
}
/* code cooperative logo image */
#logo-img {
  text-align: center;
  display: inline-block;
  border: .5px dotted #3F3B3C;
  min-width: 150px;
  min-height: 150px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 550px;
}
img {
display: inline-block
}
/* ... logo  animation */
 img:hover {
   animation: rotation 2s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
/* motto statement */
#motto {
  border: .5px dotted #3F3B3C;
  margin: auto;
  margin-top: 10px;
  margin-left: 320px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}
#motto-text {
  color: #3F3B3C;
}
/* homepage body */
#home-body-box {
  border: 2px solid #3F3B3C;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
/* individual headline boxes */
  .body-box-headlines {
    border: .5px dotted #3F3B3C;
    width: 70%;
    height: 33%;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    display: inline-block;
  }
  /* footer */
  
  #footer-box {
    display: block;
  }
  .icons {
    width: 16px;
    height: 16px;
  }